<!DOCTYPE html>
<html>
<head>
  <title>Create Shelves</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
  <h1>Create Shelves</h1>
  <form method="post" action="/createShelve">
    <label for="title">category:</label>
    <input type="text" id="category" name="category">
    <br>
    
    <input type="submit" value="create">
  </form>
  <a href="/Shelve">Back to List</a>
</body>
</html>
